<app-footer>
	<footer id="page-footer">
		<center>
			<p>
				Réalisé dans le cadre du <a href="https://dwarves.iut-fbleau.fr/git/monnerat/FI_WIM4/src/master/projet_2020" target="_blank">projet de WIM</a> avec l'API libre de <a href="https://musicbrainz.org/" target="_blank">Music Brainz. </a> Projet disponible <a href="https://github.com/LouisMinguet/API-MusicBrainz-RIOT.JS">sur mon GIT</a><br>
			</p>
		</center>
	</footer>
</app-footer>