<app>
	<div id="page-main" class="container">
		<app-header></app-header>
		<div id="page-recherche">
			<app-recherche></app-recherche>
			<app-tableau></app-tableau>
			<app-footer></app-footer>
		</div>
	</div>
</app>